h1{
	font-family: 'Bebas Neue',sans-serif;
	font-weight: 400;
	font-size: 40px;
	color: white;
	padding: 20px;
	text-align: center;
	background: linear-gradient(to right, lightgray 0%, teal 100%);
}
footer p{
	margin: auto;
	background-color: teal;
	color: white;
	border: 1px solid teal;
	padding: 10px 50px 10px 50px;
	/* box-shadow: inset 0px 0px 0px 3px gray;  
	box-sizing: border-box */
}

p{
	font-family: 'Barlow', sans-serif;
	font-size: 16px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	color: #646464;
}

.home-body{
	margin-top: 20px;
}

nav li {
	float: left;
}

li a.skip{
	opacity: 0;
	color: white;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
	font-family: 'Barlow' sans-serif;
	float: right;
	border-left: 1px solid white;
}

ul{
	/* list-style-type: none; */
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #333;
}


li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
}

li a:hover {
	background-color: gray;
}

li.active{
	background-color: teal;
	font-weight: 900;
	/* mix-blend-mode: hard-light; */
	/* border-bottom: 3px solid blue; */
	/* box-shadow: inset 0px 0px 0px 3px white;  */
	/* box-sizing: border-box; */
	/* border: 2px white solid; */
}

/* .container{
	margin:
} */
/* .container img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid black;
	border-radius: 5px;
	width:50%;
	padding: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
} */

.team img{
	opacity: 1;
	border: 5px solid teal;
}
.container img{
	opacity: 0.5;
	border: 5px solid teal;
}

.container img:hover{
	opacity: 1;
	border: 5px dashed teal;
		border-radius: 5px;
}

form {
	font-size: 16px;
	margin: 50px;
	font-family: 'Barlow', sans-serif;
	color: #646464;
  }

  label{
	display: block;
	/* margin-right:10px; */
	width:15%;
	margin-top: 15px;
  }

  textarea{
	width: 100%;
	height: 20vh;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }

  .home-image{
	  background-image: url(../images/home2.jpeg);
	  padding-top: 200px;
	  padding-bottom: 400px;
	  /* width: 80vw; */
	  background-attachment: fixed;
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-color: #707070;
  }

  .community-gallery{
    margin-left: 50px;
    margin-right: 50px;
	  }

	  .community-gallery img{
		display: flex; 
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		border: 5px solid black;
		border-radius: 5px;
		width: 100%;
		margin-top: 50px;
	  }

	  /* .container img:nth-child(2n){
		border: 5px dashed teal;
		border-radius: 5px;
		width: 100%;
	} */

	#logo{
		animation: mymove 5s 1;
		width: 40vw;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		-webkit-mask-image: radial-gradient(circle at 80%, black 50%, rgba(0, 0, 0, 0.2) 10%);
		mask-image: radial-gradient(circle at 80%, black 50%, rgba(0, 0, 0, 0.2) 10%);
	  }
	  @keyframes mymove{
		from {width: 0vw;}
		to {width: 40vw;}
		from {opacity: 0;}
		to {opacity: 1}
	  }

	@media (prefers-reduced-motion) {
		#logo{
		  animation: none;
		}
	}

.menu-images{
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
	column-gap: 50px;
    /* justify-content: center;
    justify-items: center;
	align-items: stretch; */
}

.menu-images img{
	object-fit: cover;
    height: 100%;
    width: 100%;
}
